#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#fullname {
	font-family: 'Overpass Mono';
	font-size: 32pt;
	font-weight: bold;
}

#contact {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24mm;
}
