<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<style>
			{{{css}}}
		</style>
	</head>
	<body>
		<div id="header">
			<div id="fullname">john mcparland</div>
			<div id="contact">
				<div><a href="http://mcpar.land/">mcpar.land</a></div>
				<div>{{addr}}</div>
				<div><a href="tel:{{tel}}">{{telFormatted}}</a></div>
				<div><a href="mailto:john@mcpar.land">john@mcpar.land</a></div>
				<div>
					<a href="mailto:john@mcpar.land"
						><i class="fas fa-envelope-square fa-2x"></i
					></a>
					<a target="_blank" href="https://www.linkedin.com/in/john-mcparland/"
						><i class="fab fa-linkedin fa-2x"></i
					></a>
					<a target="_blank" href="https://github.com/mcpar-land"
						><i class="fab fa-github-square fa-2x"></i
					></a>
					<a target="_blank" href="https://twitter.com/mcpar_land"
						><i class="fab fa-twitter-square fa-2x"></i
					></a>
					<a target="_blank" href="https://www.instagram.com/mcpar_land/"
						><i class="fab fa-instagram-square fa-2x"></i
					></a>
				</div>
			</div>
		</div>
		{{{body}}}
	</body>
</html>
